[submodule "local_packages/WebWorldWind-OGCTB17"]
	path = local_packages/WebWorldWind-OGCTB17
	url = git@github.com:karriojala/WebWorldWind-OGCTB17.git
[submodule "local_packages/apis"]
	path = local_packages/apis
	url = git@github.com:opengeospatial/T17-API-D176.git
